@model List<BrewOS.Models.Card>

@{
    ViewData["Title"] = "Home Page";
    OnTapCard oCard;
    FermenterCard fCard;
}

<div class="container">
    <div class="well">On Tap</div>
    <div class="row">
        @foreach (Card card in Model)
        {
            @if (card is OnTapCard)
            {
                oCard = (OnTapCard)card as OnTapCard;

                <div class="col-sm-6" style="border-radius: 5px; border:groove">
                    <div class="well-sm" align="center" style="border-bottom:groove">
                        @oCard.onTapName
                    </div>
                    <table class="table table-responsive table-hover" id="tblCard">
                        <tr>
                            <td align="center" valign="middle">
                                <img src=@oCard.image class="center" width="100" height="100">
                            </td>
                            <td>
                                @*@card.image*@
                                <table class="table table-responsive table-hover" align="center" width="100" id="tblCard">
                                    <tr>
                                        <th colspan="1" style="text-align:center">@oCard.name</th>
                                    </tr>
                                    <tr>
                                        <th colspan="1" align="center">@oCard.style</th>
                                    </tr>
                                    <tr>
                                        <td colspan="1" align="center">@oCard.abv</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" align="center">@oCard.description</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            }

        }
    </div>
</div>


<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/fermentersTemps.js"></script>
