@model BrewOS.Models.Vessels.Fermenter

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fermenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetTemp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetTemp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wort.BeerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempSensor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempSensor.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FermenterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
